<div class="width-form">
<h1 class="title">Editing Restaurant Food Review</h1>

<%= render 'form', restaurant_food_review: @restaurant_food_review %>

<%= link_to 'Show', @restaurant_food_review %> |
<%= link_to 'Back', restaurant_food_reviews_path %>

</div>