<div class="form-food  width-form">
    <h1 class="title">新しい料理</h1>

    <%= render 'form', restaurant_food: @restaurant_food %>
    
    <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Back'.html_safe, restaurants_path %>
</div>
