// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile{
    .image-avatar{
        img{
            width: 90%;
            height: auto;
            margin: 0 auto;
            border-radius: 50%;
        }
    }
    td{
        border:none;
        font-size: 20px;
    }
}